.container-fluid {
    padding: 20px 0 50px 0;
}

.view-order {
    margin: 30px 0;
    border-radius: 19px;
    padding: 15px 15px;
}

#select-order {
    width: 196px;
    height: 98px;
    box-sizing: border-box;
    padding: 16px 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 9px 0 #dbdbdb;
    font-weight: 500;
    cursor: pointer;
}

#form-order p.position-absolute {
    bottom: 10px;
    margin: 0;
    padding: 0;
    left: 25px;
    font-weight: 500;
    color: #38ca6e;
    font-size: 13px;
}

.name-homestay {
    padding-right: 50px;
}

.thanhtoanngay button {
    width: 208px;
    height: 40px;
    border: none;
    background-color: #222222;
    border-radius: 10px;
    font-weight: 450;
    color: white;
}

.thanhtoanngay button:hover {
    background-color: #38ca6e;
}